*{
    text-align: center;
}   

a{
    for

}


body{
    background-color: rgb(255, 135, 135);
}

img{
    width: 400px ;      /* Largura da imagem. */
    height: 300px ;    /* Largura da imagem. */
    opacity: 85%;
    border: 8px solid;
    border-color: rgb(4, 4, 4);
}

#Panda{
    text-align: center;
    zoom: 1;
}
#Panda:hover{
    zoom: 1.25;
}


img:hover{
    opacity: 100%;
    zoom: 1.25;

    
}



h1{
    text-align: center;
    color: aqua;
}

h2{
    color: rgb(239, 239, 159);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}